<div class="grid justify-center mt-10">
    <div class="card w-full max-w-5xl border-4 grid grid-cols-1 sm:grid-cols-2 items-center pt-3">
        <div class="flex flex-col justify-center pl-8">
            <h2 class="text-slate-500">Bienvenido</h2>
            <h2 class="card-title text-black text-2xl pt-3 sm:text-3xl font-bold">GESTOR DE TAREAS</h2>
            <h2 class="text-slate-500 pt-3">Bienvenido al Gestor de Tareas. Simplifica tu vida, organiza tus actividades
                y
                alcanza tus metas
                fácilmente.</h2>
        </div>
        <div class="flex justify-end sm:justify-end">
            <div class="flex items-end self-end">
                <img src="../../assets/img/welcomeimage.png" class="max-w-full h-auto">
            </div>
        </div>
    </div>
</div>