<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-2xl shadow-xl border-4 w-full max-w-md">
        <div class="p-6">
            <h3 class="text-center mb-4 text-xl text-slate-500">Agrega tu Tarea</h3>

            <div class="divider"></div>

            <div class="mb-4">
                <label for="tituloInput" class="block text-gray-500">Titulo</label>
                <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded bg-gray-100" id="tituloInput"
                    [(ngModel)]="taskData.titulo" placeholder="Ingrese el título de la tarea">
            </div>
            <div class="mb-4">
                <label for="tareaInput" class="block text-gray-500 ">Tarea</label>
                <textarea class="w-full  bg-gray-100 px-3 py-2 border border-gray-300 rounded" id="tareaInput" rows="3"
                    [(ngModel)]="taskData.tarea" placeholder="Describa la tarea en detalle"></textarea>
            </div>
            <div class="mb-4">
                <label for="descripcionInput" class="block text-gray-500">Descripción</label>
                <textarea class="w-full bg-gray-100 px-3 py-2 border border-gray-300 rounded" id="descripcionInput"
                    rows="3" [(ngModel)]="taskData.descripcion"
                    placeholder="Agregue información adicional si es necesario"></textarea>
            </div>
            <div class="flex justify-end space-x-2 mt-4">
                <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded"
                    (click)="onCancel()">Cancelar</button>
                <button type="button" class="bg-blue-700 text-white px-4 py-2 rounded"
                    (click)="onSubmit()">Agregar</button>
            </div>
        </div>
    </div>
</div>